/*
* Narrator page styles
*/

.Narrator {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 6pt;
  color: #383802;
  background-color: #e3e340;
}

.NarrationStory {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 2pt;
  padding: 0;
  border: solid 1px #e3e340;
}
.Focus {
  border: solid 1px #777777;
  box-shadow: 0 0 2px 2px #8b8b27;
}

.NarratorTitleBar {
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

.NarrationTitle {
  flex: 1 0 auto;
  display: inline;
  margin: 0;
  padding: 3pt 9pt;

  background-color: #bfbf35;
}

.NarrationContent {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
  margin: 0;
  padding: 2px;

  overflow: auto;
  height: 20em;
  max-height: 90vh;
  resize: vertical;
}

.FeatNarreme {
  flex: none;
  padding: 0;
  margin: 1px 3pt;
  display: inline-flex;
  flex-flow: row wrap;
}

.FeatName,
.Narreme {
  overflow: auto;
  display: inline;

  padding: 3pt;

  min-width: 6pt;
  min-height: 6pt;
}

.FeatName {
  max-width: 120pt;
  max-height: 60pt;

  background-color: #cdcd3b;
}

.Narreme {
  max-width: 50vw;
  max-height: 30vw;

  background-color: #a6a62d;
}

.Narreme ul,
.Narreme ol,
.Narreme li {
  margin: 0;
  padding: 2px;
}

.NarrationContent::-webkit-scrollbar,
.FeatName::-webkit-scrollbar,
.Narreme::-webkit-scrollbar {
  background-color: #c2c236;
}

.NarrationContent::-webkit-scrollbar-track,
.FeatName::-webkit-scrollbar-track,
.Narreme::-webkit-scrollbar-track {
  background-color: #c2c236;
}

.NarrationContent::-webkit-scrollbar-corner,
.FeatName::-webkit-scrollbar-corner,
.Narreme::-webkit-scrollbar-corner {
  background-color: #c2c236;
}

.NarrationContent::-webkit-scrollbar-thumb,
.FeatName::-webkit-scrollbar-thumb,
.Narreme::-webkit-scrollbar-thumb {
  background-color: #b7b735;
}

.NarrationContent::-webkit-scrollbar-button,
.FeatName::-webkit-scrollbar-button,
.Narreme::-webkit-scrollbar-button {
  background-color: #b7b735;
}
